
Temp/
Obj/
Build/
Library/
.vs/
.vscode/
.idea/
.vsconfig
.userprefs
.tmp
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userosscache
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.apk
*.aab
